* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(148, 38%, 91%);
}

#form {
    width: 540px;
    height: 768px;
    background-color: white;
}